body{
font-family: Arial, Helvetica, sans-serif;
background-color: peachpuff;

}
nav{
background-color: rgb(84, 192, 228);
text-align: center;
}

nav ul{
list-style-type: none;
}

nav li{
display: inline-block;
position: relative;
padding: 10px 15px;
}

nav li:hover {
background-color: white;  
}

nav a{
color:black;
font-size: medium;
text-decoration: none;
}
/*home page*/
.main{
    display: flex;
    gap:20px;
    align-items: flex-start;
    margin-top: 10px;
}

/* picture slide*/
.slideshow{
    width:70%;
    position: relative;
    height: 700px;
    border-radius: 10px;
}

.swiper-slide{
    height: 100%;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
/* anime quote box */
.quote-box{
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 20px;
    width: 56%;
    margin: 10px auto;
    border: 7px solid rgb(56, 59, 56);
    border-radius: 10px;
}
/* anime rating*/
#top-anime-rating{
    width: 27%;
    border: solid rgb(56, 59, 56);
    background-color:aqua;
    padding: 10px;
    border-radius: 15px;
    margin: 3px;
    
}

#chart-container{
    border: 20px;
    border-radius: 20px;
    padding:10px;
    background-color: rgb(210, 246, 242);
    display: 'none';
    margin-top: 5px;
    height: 200px;
}
#loading {
    width: 250px;
    margin: 10px auto;

}
/* CSS button rating */
.rating-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  color: #fff;
  background: linear-gradient(180deg, #44e082 0%, #44e379 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.rating-button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
/* FindAnime page */

#animeResults{
    display: flex;
    color: black;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.animeFound{
    background-color: white;
    border: 6px solid black;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.animeFound img {
    width: 400px;

    height: 300px;

    object-fit: fill;
}
#loading-match {
    display: none;
    width:800px;
    margin: auto;

}
.searchBox{
background-color: aqua;
padding: 20px;
border-radius: 20px;
border: solid black;
text-align: center;
margin-left: 17%;
margin-right: 15%;
margin-bottom: 10px;

}


/* CSS anime match button*/

.button-anime {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1 rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: .7rem 1rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-anime:hover {
  background-color: #29ff49;
  box-shadow: #14ff89 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-anime:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-anime {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}
/*Chatter page*/

.postBox{
background-color: aqua;
padding: 20px;
border-radius: 20px;
border: solid black;
margin-bottom: 20px;

}
.postBox p{
    white-space: pre-line;
}

.postSection{
display: flex;   
gap: 30px;
align-items: flex-start;
}
.postSection form{
    width: 30%;
    background-color: rgb(63, 211, 211);
    padding: 20px;
    border: solid black;
    border-radius: 20px;
}

#commentSection{
    width: 67%;
    padding: 10px;
    border-radius: 15px;
    margin: 3px;
    
}

/* CSS post button */
.button-post {
  background: #8e2bf7;
  border: 1px solid #b78dede2;
  border-radius: 6px;
  box-shadow: rgba(80, 11, 136, 0.889) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-post:hover,
.button-post:active {
  background-color: initial;
  background-position: 0 0;
  color: #520f62;
}

.button-post:active {
  opacity: .5;
}

/* CSS like button */
.like-button {
  align-items: center;
  background-image: linear-gradient(144deg,#76ff40, #42f398 50%,#00ebb0);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(87, 252, 65, 0.74) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 13px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 80px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.like-button:active,
.like-button:hover {
  outline: 0;
}

.like-button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.like-button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .like-button {
    font-size: 15px;
    min-width: 100px;
  }
}
/* CSS like button */
.dislike-button {
  align-items: center;
  background-image: linear-gradient(144deg,#ee5c3b, #f15454 50%,#cf4a16);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(206, 71, 53, 0.74) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 13px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 80px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.dislike-button:active,
.like-button:hover {
  outline: 0;
}

.dislike-button span {
  background-color: rgb(31, 9, 3);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.dislike-button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .dislike-button {
    font-size: 15px;
    min-width: 100px;
  }
}
/*contact page*/
.contact-main form{
    border: solid black;
    border-radius: 10px;
    padding: 15px;
    width:40%;
}

.button-contact{
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-contact:hover,
.button-contact:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-contact:active {
  background: var(--color);
  color: #fff;
}

/*main-about*/
.main-about{
    border-radius: 10px;
    border: dashed black;
    padding: 15px;
    margin: 5%;
    text-align: center;
}

